.jumbotron {
	background: #4682b4;
	color: white;
	margin-top: 50px;

}

#carouselHome{
	margin-bottom: 35px;
}

.btn-primary{
	background: #101935; 
	border: none;

}

.btn-cards{
	background: #101935; 
	border: none;
	width: 90%;
	margin: 0px 15px 15px 15px
}

footer{
	background-color: #4682b4;
	margin-top: 40px;
	padding: 30px;
	color: white;

}
footer a {
	color: #101935;
}

.card-producto{
	flex: 1 280px;
	margin: 10px 5px 5px 2px;

}

.img-card{
	max-height: 25vh;
}

.queessashiko{
	padding-top: 10px;
	padding-bottom: 50px;
}

.breadcrumb{
	margin-bottom: 25px;
}

.suscripcion{
	padding-bottom: 126px;
}
.nav-pills .nav-link.active{
	background: #101935;
	color: #FFFFFF;
	margin-right: 10px;
}

a{
	color:#4682b4;
}

#myTab{
	margin-bottom: 35px;
}

.newsletter{
	margin: 50px 0px 50px 0px;
	text-align: center;
}

.modal-content{
	color: black;
}