@yellow: #FFD700;
@red: #DC143C;
@green: #3CB371;

@steelblue: #4682B4;
@darkblue: #101935;
@white: #FFFFFF;

.padding (@ptop, @pbottom){
	padding-top: @ptop;
	padding-bottom: @pbottom;
}

.margenes (@mtop, @mbottom){
	margin-top: @mtop;
	margin-bottom: @mbottom;
}

.jumbotron {
	background: @steelblue;
	color: @white;
	margin-top: 50px;

}

#carouselHome{
	margin-bottom: 35px;
}

.btn-primary{
	background: @darkblue; 
	border: none;

}

.btn-cards{
	background: @darkblue; 
	border: none;
	width: 90%;
	margin: 0px 15px 15px 15px
}

footer{
	background-color: @steelblue;
	margin-top: 40px;
	padding: 30px;
	color: @white;

}
footer a {
	color: @darkblue;
}

.card-producto{
	flex: 1 280px;
	margin: 10px 5px 5px 2px;

}

.img-card{
	max-height: 25vh;
}

.queessashiko{
	.padding(10px, 50px);

}

.breadcrumb{
	margin-bottom: 25px;
}

.suscripcion{
	padding-bottom: 126px;
}

.nav-pills .nav-link.active{
	background: @darkblue;
	color: @white;
	margin-right: 10px;
}

a{
	color: @steelblue;
}

#myTab{
	margin-bottom: 35px;
}

.newsletter{
	.margenes (50px, 50px);
	text-align: center;
}

.modal-content{
	color: black;
}
